@model IEnumerable<Unidad3P1.ViewModels.ProductoViewModel>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card shadow-sm border-0">
                <img class="card-img-top" src="@item.ImagenUrl" alt="Imagen de @item.Nombre" style="height: 400px; object-fit: cover;" />
                <div class="card-body text-center">
                    <h2 class="card-title font-weight-bold">@item.Nombre</h2>
                    <p class="card-text text-white">Precio: @item.Precio Bs</p>
                    <div class="d-flex justify-content-center">
                        <a asp-action="Details" asp-route-id="@item.ProductoId" class="btn btn-outline-primary me-2 text-white">Ver Detalles</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



<style>
   
</style>

         
