@model IEnumerable<Unidad3P1.Data.Entidades.OrdenEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionCorreo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdenTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaOrden)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionCorreo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdenTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaOrden)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrdenId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrdenId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrdenId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
