@model IEnumerable<Unidad3P1.Data.Entidades.CarritoCompraItemEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrito)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.DescripcionCorta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrito.CarritoCompraId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarritoCompraItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarritoCompraItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarritoCompraItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
